<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.emmcloud.setting">

    <application
        android:name=".runalone.application.SettingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".runalone.application.SettingModelMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.EnterpriseSwitchActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.ThemeSwitchActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.TabLayoutSwitchActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.SafeGustureFaceSettingActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.FaceSettingActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.CreateGestureActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.CreateGestureGuideActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.GestureLoginActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.FaceVerifyActivity"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.card.CardPackageActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.card.CardPackageSetActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.ServiceTermActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.SettingActivity"

            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.setting.PhoneRecognizeActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"/>

        <activity
            android:name=".ui.setting.SafeCenterActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.setting.DeviceManagerActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.DeviceInfoActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.NetWorkStateDetailActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.WebViewNetStateDetailActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.NetHardConnectCheckActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />


        <activity
            android:name=".ui.myinfo.ModifyUserInfoActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.setting.LanguageSwitchActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.AboutActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.setting.RecommendAppActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.feedback.FeedBackActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.myinfo.MyInfoActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.setting.GuideActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>


    </application>

</manifest>