<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.emmcloud.login">

    <application>

        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.PasswordFirstSettingActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.ScanQrCodeLoginGSActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.LoginMoreActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ScanQrCodeLoginActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.PasswordModifyActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.LoginBySmsActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.PasswordResetActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <!-- MDM设备管理 -->
        <activity
            android:name=".ui.DeviceRegisterFailDetailActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
    </application>
</manifest>
