{
	"appId":"686F9D6191602",
	"appKey":"686F9D6191602_ANDROID",
	"base64Code":"",
	"packageName":"com.inspur.emmcloud",
	"rootPath":"mpaas/android/686F9D6191602-chenmch",
	"workspaceId":"chenmch",
	"rpcGW":"https://cn-hangzhou-mgs-gw.cloud.alipay.com/mgw.htm",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"pushPort":"443",
	"pushGW":"cn-hangzhou-mps-link.cloud.alipay.com",
	"logGW":"https://cn-hangzhou-mas-log.cloud.alipay.com",
	"syncport":"443",
	"syncserver":"cn-hangzhou-mss-link.cloud.alipay.com"
}