<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.emmcloud.login">

    <application
        android:name=".runalone.application.LoginApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PasswordFirstSettingActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.ScanQrCodeLoginGSActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.LoginMoreActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ScanQrCodeLoginActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.PasswordModifyActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.LoginBySmsActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.PasswordResetActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <!-- MDM设备管理 -->
        <activity
            android:name=".ui.DeviceRegisterFailDetailActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
    </application>
</manifest>