<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inspur.emmcloud"
    android:configChanges="locale|layoutDirection">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme_0"
        tools:replace="android:allowBackup,label">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".zhihuichengjian"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_zhihuichengjian"
            android:label="@string/app_name_zhihuichengjian"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".beiqi"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_beiqi"
            android:label="@string/app_name_beiqi"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".huaxiayinhang"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_huaxiayinhang"
            android:label="@string/app_name_huaxiayinhang"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".chinatower"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_chinatower"
            android:label="@string/app_name_chinatower"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".zhihuiguozi"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_zhihuiguozi"
            android:label="@string/app_name_zhihuiguozi"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".kailuanyunjia"
            android:enabled="false"
            android:icon="@drawable/ic_launcher_kailuanyunjia"
            android:label="@string/app_name_kailuanyunjia"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Standard"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
            android:name=".ui.IndexActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.ShareFilesActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind">

        </activity>

        <activity
            android:name=".ui.ShareLinkActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.ShareToConversationBlankActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme_Transparent" />
        <activity
            android:name=".ui.ShareActionActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme_Transparent">
            <intent-filter android:label="@string/send_to_app">
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--<data android:mimeType="image/*" />-->
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter android:label="@string/send_to_app">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <!--<data android:mimeType="image/*" />-->
                <!--<data android:mimeType="application/*" />-->
                <!--<data android:mimeType="text/plain" />-->
                <data android:mimeType="*/*" />
            </intent-filter>

            <!--ics文件识别 excel-->
            <intent-filter android:label="@string/send_to_app">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*"></data>
                <data android:mimeType="image/*"></data>
                <data android:mimeType="text/*"></data>
                <data android:mimeType="audio/*"></data>
                <data android:mimeType="application/octet-stream"></data>
                <data android:mimeType="application/msword"></data>
                <data android:mimeType="application/vnd.ms-works"></data>
                <data android:mimeType="application/pdf"></data>
                <data android:mimeType="application/vnd.truedoc"></data>
                <data android:mimeType="application/vnd.ms-excel"></data>
                <data android:mimeType="application/vnd.ms-powerpoint"></data>
                <data android:mimeType="application/x-gtar"></data>
                <data android:mimeType="application/x-gzip"></data>
                <data android:mimeType="application/java-archive"></data>
                <data android:mimeType="application/x-javascript"></data>
                <data android:mimeType="application/x-rar-compressed"></data>
                <data android:mimeType="application/x-tar"></data>
                <data android:mimeType="application/x-compressed"></data>
                <data android:mimeType="application/x-compress"></data>
                <data android:mimeType="application/x-7z-compressed"></data>
                <data android:mimeType="application/zip"></data>
                <data android:mimeType="application/rar"></data>
                <data android:mimeType="application/x-rar"></data>
                <data android:mimeType="application/x-bzip2"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow"></data>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"></data>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AppSchemeHandleActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme_Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-contact" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-calendar-jpush" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecm-contact" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-component" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-app-react-native" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecm-contact" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="gs-msg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-channel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-app" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.huawei.pushtest"
                    android:scheme="customscheme" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="emm" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="inspur-ecc-native" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-cloudplus-cmd" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ecc-cloudplus-cmd-voice-call" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="impcloud" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.chat.ChannelV0Activity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.ConversationActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.ChannelInfoActivity"
            android:configChanges="locale|layoutDirection"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.chat.ConversationGroupInfoActivity"
            android:configChanges="locale|layoutDirection"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.chat.UnReadDetailActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.mvp.view.ConversationInfoActivity"
            android:configChanges="locale|layoutDirection"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.chat.ConversationCastInfoActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.ChannelMemActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.chat.mvp.view.ConversationReportActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.chat.ChannelMsgDetailActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.ChannelMessageDetailActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.VoiceCommunicationActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.chat.SearchActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.chat.SearchSendMultiActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.CommunicationSearchModelMoreActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.CommunicationSearchSendMultiModelMoreActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.CommunicationSearchMessagesActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.chat.CorrectedSpeechInputActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.chat.ChatFileDownloadActivtiy"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.FileTransferDetailActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".widget.filemanager.NativeVolumeFileManagerActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.contact.ContactSearchActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.contact.ContactOrgStructureActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.contact.UserInfoActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.contact.RobotInfoActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.contact.ContactSearchMoreActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.chat.ImagePagerV0Activity"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.chat.ImagePagerActivity"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.chat.MembersActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.chat.GroupAlbumActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.GroupFileActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.find.AnalysisActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.find.trip.TripInfoActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.appcenter.ReactNativeAppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.chat.ModifyChannelGroupNameActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.ConversationNameModifyActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.chat.ConversationQrCodeActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.find.trip.TravelActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.find.trip.TravelStarsActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.find.trip.TripDetailActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.find.DocumentActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.find.KnowledgeActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.chat.ChannelMembersDelActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <activity
            android:name=".ui.chat.ConversationServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.chat.ConversationServiceSearchActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".ui.chat.ConversationBurnContentActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

        <!-- 云盘 -->

        <!-- service -->
        <service android:name=".service.LocationService"></service>
        <service android:name=".service.CoreService"></service>
        <service android:name=".service.CoreInnerService"></service>
        <service android:name=".service.VoiceHoldService" />

        <!--        <receiver-->
        <!--            android:name=".broadcastreceiver.ActionReceiver"-->
        <!--            android:exported="true">-->
        <!--            &lt;!&ndash;网络改变&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--            </intent-filter>-->

        <!--            &lt;!&ndash;屏幕点亮和熄灭   此种方式删除  采用动态注册&ndash;&gt;-->
        <!--            &lt;!&ndash;<intent-filter>-->
        <!--                <action android:name="android.intent.action.ACTION_SCREEN_OFF" />-->
        <!--                <action android:name="android.intent.action.ACTION_SCREEN_ON" />-->
        <!--            </intent-filter>&ndash;&gt;-->

        <!--            &lt;!&ndash;屏幕解锁&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.USER_PRESENT" />-->
        <!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash; Optional &ndash;&gt;-->
        <!--            &lt;!&ndash;安装卸载应用广播&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
        <!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->

        <!--                <data android:scheme="package" />-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash;闹钟广播，怎么用？&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="${applicationId}.TIMER_ACTION_REPEATING" />-->
        <!--            </intent-filter>-->
        <!--            &lt;!&ndash;开机广播&ndash;&gt;-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->

        <receiver
            android:name=".broadcastreceiver.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>


        <!--社交分享-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59aa1f8f76661373290010d3"></meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105561850" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name=".ui.chat.mvp.view.ConversationSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.chat.mvp.view.ConversationSendMultiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>


</manifest>