<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.emmcloud.application">

    <application>
        <activity
            android:name=".ui.AppCenterActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.AppCenterMoreActivity"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AppSearchActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AppDetailActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AppGroupActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait" />


        <service android:name=".service.SyncCommonAppService"></service>
    </application>
</manifest>
