<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.emmcloud.schedule">

    <application
        android:name=".runalone.application.ScheduleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".runalone.application.ScheduleModelMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.meeting.ScheduleAddActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.ScheduleDetailActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.ScheduleDetailReplyActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.MeetingRoomListActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.MeetingOfficeSettingActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.MeetingAttendeeStateActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ScheduleTypeSelectActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ScheduleAlertTimeActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.calendar.CalendarSettingActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.calendar.CalendarAccountSelectActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.task.TaskAddActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.task.TaskTagAddActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.task.TaskTagsManageActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.task.TaskSetActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.MeetingRoomInfoActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.meeting.MeetingHistoryActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

    </application>

</manifest>