<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inspur.emmcloud.volume">

    <application>

        <!-- 云盘 -->
        <activity
            android:name=".ui.VolumeHomePageActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.VolumeFileActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.VolumeFileDownloadActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.VolumeFileLocationSelectActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.VolumeFileFilterActvity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ShareVolumeActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.GroupInfoActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ShareVolumeInfoActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.ShareVolumeNameModifyActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.VolumeFilePermissionManagerActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.VolumeGroupChangePermissionActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.view.VolumeFileTransferActivity"
            android:resizeableActivity="true"
            android:screenOrientation="behind" />

    </application>

</manifest>